/** http://leaddyno.github.io/bootstrap-nav-wizard/  */
ul.nav-wizard {
	background-color: #f9f9f9;
*zoom: 1;
	position: relative;
	overflow: hidden;
}
ul.nav-wizard:before {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 46px;
	height: 47px;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	z-index: 11;
	content: " ";
}
ul.nav-wizard:after {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 138px;
	height: 47px;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	z-index: 11;
	content: " ";
}
ul.nav-wizard li {
	position: relative;
	float: left;
	height: 40px;
	display: inline-block;
	text-align: middle;
	padding: 0 10px 0 30px;
	margin: 0;
	font-size: 14px;
	line-height: 40px;
}
ul.nav-wizard li a {
	color: #468847;
	padding: 0;
}
ul.nav-wizard li a:hover {
	background-color: transparent;
}
ul.nav-wizard li:before {
	position: absolute;
	display: block;
	border: 22px solid transparent;
	border-left: 16px solid #cecece;
	border-right: 0;
	top: -1px;
	z-index: 10;
	content: '';
	right: -16px;
}
ul.nav-wizard li:after {
	position: absolute;
	display: block;
	border: 22px solid transparent;
	border-left: 16px solid #f9f9f9;
	border-right: 0;
	top: -1px;
	z-index: 10;
	content: '';
	right: -15px;
}
/*active*/
ul.nav-wizard li.active {
	color: #3a87ad;
	background: #d9edf7;
}
ul.nav-wizard li.active:after {
	border-left: 16px solid #d9edf7;
}
/*completed*/
ul.nav-wizard li.completed {
	color: #3a87ad;
	background: #f9f9f9;
}
ul.nav-wizard li.completed:after {
	border-left: 16px solid #f9f9f9;
}
/*pending*/
ul.nav-wizard li.pending {
	color: #999999;
	background: #f2f2f2;
}
ul.nav-wizard li.pending:after {
	border-left: 16px solid #f2f2f2;
}
ul.nav-wizard.nav-wizard-backnav li:hover {
	color: #468847;
}
ul.nav-wizard.nav-wizard-backnav li:hover:after {
	border-left: 16px solid #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover a, ul.nav-wizard.nav-wizard-backnav li:hover a:active, ul.nav-wizard.nav-wizard-backnav li:hover a:visited, ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
	color: #468847;
	background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li {
color: #999999;
background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
border-left: 16px solid #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li a, ul.nav-wizard.nav-wizard-backnav .active ~ li a:active, ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited, ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
color: #999999;
background: #ededed;
}
